<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:href="@{/static/bootstrap/css/bootstrap.css}" href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link th:href="@{/static/bootstrap/css/bootstrap-theme.css}" href="../static/bootstrap/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
		<link th:href="@{/static/bootstrap/css/custom.css}" href="../static/bootstrap/css/custom.css" rel="stylesheet" type="text/css">
		<script th:src="@{/static/bootstrap/js/jquery-3.2.0.js}" src="../static/bootstrap/js/jquery-3.2.0.js" language="javascript" type="text/javascript"></script>
		<script th:src="@{/static/bootstrap/js/jquery-ui.js}" src="../static/bootstrap/js/jquery-ui.js" language="javascript" type="text/javascript"></script>
		<script th:src="@{/static/bootstrap/js/bootstrap.js}" src="../static/bootstrap/js/bootstrap.js" type="text/javascript"></script>
		<script th:src="@{/static/bootstrap/js/custom.js}" src="../static/bootstrap/js/custom.js" type="text/javascript" language="javascript"></script>
		<link th:href="@{/static/bootstrap/css/jquery-ui.css}" href="../static/bootstrap/css/jquery-ui.css" rel="stylesheet" type="text/css">
		<link th:href="@{/static/bootstrap/css/theme.css}" href="../static/bootstrap/css/theme.css" rel="stylesheet" type="text/css">

		<script th:src="@{/static/js/index.js}" src="../static/js/index.js"></script> 
	</head>
	
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					</button>
					<a class="navbar-brand" href="#"><img th:src="@{/static/bootstrap/img/logo.png}" src="../static/bootstrap/img/logo.png" style="width:50px;height: auto; margin-top:-15px;" /></a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active tabs" id="LIHome" onclick="showAndHide('LIHome', 'Home');"><a href="#">Home</a></li>
						<li class="tabs" id="LIClients" onclick="showAndHide('LIClients', 'Clients');"><a href="#">Clients</a></li>
						<li class="tabs" id="LIConseillers" onclick="showAndHide('LIConseillers', 'Conseillers');"><a href="#">Conseillers</a></li>
						<li class="tabs" id="LIRendezVous" onclick="showAndHide('LIRendezVous', 'RendezVous');"><a href="#">Rendez-vous</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#" data-toggle="modal" data-target="#parameters-modal">
								<span class="glyphicon glyphicon-option-vertical"></span> Paramètres</a>
							<div class="modal fade bs-modal-sm" id="parameters-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-sm">
									<div class="modal-content"><br>
										<div class="bs-example bs-example-tabs">
											<ul id="myTab" class="nav nav-tabs">
												<li class="active"><a href="#parameters" data-toggle="tab">Mon compte</a></li>
												<li class=""><a href="#logout" data-toggle="tab">Déconnexion</a></li>
											</ul>
										</div>
										<div class="modal-body">
											<div id="myTabContent" class="tab-content">
												<div class="tab-pane fade active in" id="parameters">
													<form class="form-horizontal">
														<fieldset>
														<!-- Parameters for the current user -->
															<!-- Text -->
															<div class="control-group">
																<label class="control-label" for="Nom">Nom :</label>
																<div class="controls">
																	<span class="label label-info">Nom</span>
																</div>
															</div>

															<!-- Password -->
															<div class="control-group">
																<label class="control-label" for="prenom">Prénom :</label>
																<div class="controls">
																	<span class="label label-info">Prénom</span>
																</div>
															</div>
															
															<!-- Mail -->
															<div class="control-group">
																<label class="control-label" for="email">Mail :</label>
																<div class="controls">
																	<span class="label label-info">Mail</span>
																</div>
															</div>
															
															<!-- Phone -->
															<div class="control-group">
																<label class="control-label" for="telephone">Téléphone :</label>
																<div class="controls">
																	<span class="label label-info">Téléphone</span>
																</div>
															</div>
															
															<!-- Status -->
															<div class="control-group">
																<label class="control-label" for="telephone">Profil :</label>
																<div class="controls">
																	<span class="label label-info">Profil</span>
																</div>
															</div>
															
															<!-- Jour de travail -->
															<div class="control-group">
																<label class="control-label" for="telephone">Jour de travail :</label>
																<div class="controls">
																	<span class="label label-info">Jour de travail</span>
																</div>
															</div>
														</fieldset>
													</form>
												</div>
												<div class="tab-pane fade" id="logout">
													<div class="form-horizontal">
														<center><div class="controls">Êtes-vous sûr de vouloir vous déconnecter ?</div></center>
														<hr>
														<div class="controls"><a href="javascript:;" class="btn btn-danger btn-block">Déconnexion</a></div>
													</div><!-- A CHANGER -->
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<center>
												<button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
											</center>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
  
		<div class="container-fluid text-center">    
			<div class="row content">
				<div class="col-sm-8 text-left tab_content" id="Home"> 
					<h1>Home</h1>
					<hr>
				</div>
				<div class="col-sm-8 text-left tab_content" id="Clients" style="display:none;">
					<h1>Clients</h1>
					<hr>
					<span class="glyphicon glyphicon-refresh" style="float:right;" onclick="javascript:refresh();"></span>
					<table class="table table-hover table-responsive">
						<thead>
							<tr>
								<th>NOM Prénom</th>
								<th>Téléphone</th>
								<th>Email</th>
							</tr>
						</thead>
						<tbody><!-- A CHANGER -->
<!--							<tr>
								<td></td>
								<td></td>
								<td></td>
							</tr>
-->						</tbody>
					</table>
				</div>
				<div class="col-sm-8 text-left tab_content" id="Conseillers" style="display:none;">
					<h1>Conseillers</h1>
					<hr>
					<span class="glyphicon glyphicon-refresh" style="float:right;" onclick="javascript:refresh();"></span>
					<table class="table table-hover table-responsive">
						<thead>
							<tr>
								<th>NOM Prénom</th>
								<th>Téléphone</th>
								<th>Email</th>
								<th>Login</th>
								<th>Jour de travail</th>
							</tr>
						</thead>
						<tbody><!-- A CHANGER -->
<!--							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
-->						</tbody>
					</table>
				</div>
				<div class="col-sm-8 text-left tab_content" id="RendezVous" style="display:none;">
					<h1>Rendez-vous</h1>
					<hr>
					<span class="glyphicon glyphicon-refresh" style="float:right;" onclick="javascript:refresh();"></span>
					<table class="table table-hover table-responsive">
						<thead>
							<tr>
								<th>Date</th>
								<th>Matin ou Après-midi</th>
								<th>Client</th>
								<th>Contact</th>
							</tr>
						</thead>
						<tbody><!-- A CHANGER -->
<!--							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
-->						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<footer class="container-fluid text-center">
			<p><<<  >>></p>
		</footer>
	</body>
</html>